<section class=" min-w-[375px] my-20">
  
  
    <div class=" flex flex-col px-6 items-center sm:flex-row sm:justify-around md:justify-center md:gap-20 text-Very-Dark-Cyan ">
  
    
      <img class="w-70 my-16  "
        
        src="/images/illustration-flowing-conversation.svg"
        alt="illustration-flowing-conversationr"
      />
    
  
      <div class="text-center mb-12 sm:text-left">
        <h2 class="text-xl font-poppins mb-4 sm:text-2xl ">Flowing Conversations</h2>

        <p class="text-sm text-slate-600 w-80 sm:w-70 md:w-100 sm:text-xs">
            You wouldn't paginate a conversation in real life, so why do it online? Our threads have 
            just-in-time loading for a more natural flow.
        </p>
      </div>
  
   
     
    </div>
  </section>