---

---

<footer class="min-w-[375px]">
  <div>
    <img
      class="sm:hidden w-full"
      src="/images/bg-footer-top-mobile.svg"
      alt="illustration-grow-together"
    />

    <img
      class="hidden sm:block w-full"
      src="/images/bg-footer-top-desktop.svg"
      alt="illustration-grow-together"
    />
  </div>

  <div
    class="bg-Very-Dark-Cyan text-white p-6 sm:gap-10 sm:flex sm:justify-around"
  >
    <div class="mb-20 sm:order-2 sm:w-150">
      <h2 class="text-xl uppercase font-poppins mb-4">Newsletter</h2>
      <p class="text-xs mb-4 sm:w-70">
        To recieve tips on how to grow your community, sign up to our weekly
        newsletter. We’ll never send you spam or pass on your email address
      </p>

      <form class="sm:flex sm:gap-8" action="">
        <div class="w-full">
          <input
            class="peer bg-white text-Very-Dark-Cyan border mb-2 rounded-md p-2 w-full
            
            invalid:border-red-500 invalid:text-red-600 focus:border-sky-500 focus:outline focus:outline-sky-500 focus:invalid:border-red-500 focus:invalid:outline-red-500 disabled:border-gray-200"
            type="email"
          />
          <p class="text-sm text-red-600 invisible peer-invalid:visible">
            Ingresa un correo válido.
          </p>
        </div>

        <div class="text-right">
          <button
            class="bg-Pink py-2 px-8 rounded font-bold hover:bg-Light-Pink"
            >Subscribe</button>
        </div>
      </form>
    </div>

    <div class="sm:w-60 pb-8">
      <img
        class="invert brightness-0 w-50 mb-4"
        src="/images/logo.svg"
        alt="logo"
      />

      <p class="text-xs mb-8">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nulla
        quam, hendrerit lacinia vestibulum a, ultrices quis sem.
      </p>

      <div class="flex gap-4">
        <img class="mb-4" src="/images/icon-phone.svg" alt="telefono" />
        <p class="text-xs">Phone: +1-543-123-4567</p>
      </div>

      <div class="flex gap-4 mb-10">
        <img class="" src="/images/icon-email.svg" alt="email" />
        <p class="text-xs">example@huddle.com</p>
      </div>

      <div class="flex gap-4">
        <svg
          class="bg-white rounded fill-Very-Dark-Cyan hover:bg-sky-500 hover:stroke-sky-500"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="0.42857142857142855"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-facebook-icon lucide-facebook"
          ><path
            d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"
          ></path></svg
        >

        <svg
          class="hover:stroke-sky-500"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-instagram-icon lucide-instagram"
          ><rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect><path
            d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line
            x1="17.5"
            x2="17.51"
            y1="6.5"
            y2="6.5"></line></svg
        >

        <svg
          class="bg-white rounded fill-Very-Dark-Cyan hover:bg-sky-500 hover:stroke-sky-500"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="0.42857142857142855"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-twitter-icon lucide-twitter"
          ><path
            d="M22 4s-.7 2.1-2 3.4c1.6 10-9.4 17.3-18 11.6 2.2.1 4.4-.6 6-2C3 15.5.5 9.6 3 5c2.2 2.6 5.6 4.1 9 4-.9-4.2 4-6.6 7-3.8 1.1 0 3-1.2 3-1.2z"
          ></path></svg
        >
      </div>
    </div>
  </div>
</footer>
