---

---

<section class=" min-w-[375px]">
  <div>
    <img
      class="sm:hidden w-full"
      src="/images/bg-section-top-mobile-1.svg"
      alt="illustration-grow-together"
    />

    <img
      class="hidden sm:block w-full"
      src="/images/bg-section-top-desktop-1.svg"
      alt="illustration-grow-together"
    />
  </div>

  <div class="bg-Very-Pale-Blue  flex flex-col px-6 items-center sm:flex-row sm:justify-around md:justify-center text-Very-Dark-Cyan ">

    <img class="w-70 mb-16 mt-16 sm:order-2"
      
      src="/images/illustration-grow-together.svg"
      alt="illustration-grow-together"
    />

    <div class="text-center mb-12 sm:text-left md:mr-20">
      <h2 class="text-xl font-poppins mb-4 sm:text-2xl ">Grow Together</h2>

      <p class="text-sm text-slate-600 w-80 sm:w-70 md:w-95 sm:text-xs">
        Generate meaningful discussions with your audience and build a strong,
        loyal community. Think of the insightful conversations you miss out on
        with a feedback form.
      </p>
    </div>

  </div>

  <div>
    <img
      class="sm:hidden w-full"
      src="/images/bg-section-bottom-mobile-1.svg"
      alt="illustration-grow-together"
    />

    <img
      class="hidden sm:block w-full"
      src="/images/bg-section-bottom-desktop-1.svg"
      alt="illustration-grow-together"
    />
  </div>
</section>
