---

---

<nav class="max-w-[1440px] mx-auto min-w-[375px] flex justify-between items-center p-6 md:py-12 md:px-10 ">
  <div>
    <img class="w-28 md:w-34" src="/images/logo.svg" alt="" />

  </div>

  <div>
    <button class="text-xs text-Light-Pink border rounded-full px-6 py-1 cursor-pointer hover:shadow-Light-Pink/50 hover:shadow-md transition-all">Try for free</button>
  </div>
</nav>
