---
import Btn from "../components/ui/Btn.astro"
---

<section class="max-w-[1440px] mx-auto min-w-[375px] my-12 p-6 md:py-12 md:px-10 text-center">
    <h2 class="font-poppins text-2xl mb-12 text-Very-Dark-Cyan">Ready To Build Your Community?</h2>

    <Btn nameButton="Get Started For Free" />
</section>