<section class=" min-w-[375px]">
    <div>
      <img
        class="sm:hidden w-full"
        src="/images/bg-section-top-mobile-2.svg"
        alt="illustration-grow-together"
      />
  
      <img
        class="hidden sm:block w-full"
        src="/images/bg-section-top-desktop-2.svg"
        alt="illustration-grow-together"
      />
    </div>
  
    <div class="bg-Very-Pale-Blue  flex flex-col px-6 items-center sm:flex-row sm:justify-around md:justify-center text-Very-Dark-Cyan ">
  
      <img class="w-70 mb-16 mt-16 sm:order-2"
        
        src="/images/illustration-your-users.svg"
        alt="illustration-your-users"
      />
  
      <div class="text-center mb-12 sm:text-left md:mr-20">
        <h2 class="text-xl font-poppins mb-4 sm:text-2xl ">Your Users</h2>
  
        <p class="text-sm text-slate-600 w-80 sm:w-70 md:w-95 sm:text-xs">
            It takes no time at all to integrate Huddle with your app's authentication solution. This means, 
            once signed in to your app, your users can start chatting immediately.
        </p>
      </div>
  
    </div>
  
    <div>
      <img
        class="sm:hidden w-full"
        src="/images/bg-section-bottom-mobile-2.svg"
        alt="illustration-grow-together"
      />
  
      <img
        class="hidden sm:block w-full"
        src="/images/bg-section-bottom-desktop-2.svg"
        alt="illustration-grow-together"
      />
    </div>
  </section>