---
const { nameButton } = Astro.props;
---

<button class=" bg-Pink rounded-full px-12 py-3 text-white text-sm cursor-pointer hover:bg-Light-Pink hover:shadow-md hover:shadow-slate-300 transition-all"> {nameButton}</button>